/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */



/**
 * General layout
 */

 /* Hide submenu, leave this to kmom02 */
 // .rm-desktop ul {
 //     display: none;
 // }
 //
 // /* Hide responsive/mobile menu, leave this to kmom02 */
 // .rm-navbar-max {
 //     display: none;
 // }

.inner-wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.wrap-all {
    /* box-sizing: border-box; */
    max-width: 1100px;
    margin: 0 auto;
    background-color: lightgrey;
    border-radius: 10px;
    min-height: 40em;
}

.outer-wrap-header {
    display: flex;
    font-size: 1.4em;
    background-color: lightgrey;
    border-radius: 10px;
}

.inner-wrap-header {
    max-width: 100%;
    overflow: auto;
}

.outer-wrap-footer {
    font-size: 1.4em;
    width: 1100px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 0 auto;
}

.footer-column-wrapper {
    display: flex;
    border-radius: 10px;
}

.footer-column {
    border-radius: 10px;
}
